{% extends "base.html"%}

{% block title %}О Компании{% endblock %}
{% block content %}
<div class="container">
    <h1>О компании</h1>
    <div class="about-company">
        <h2>Информация о компании</h2>
        <p>Наша компания специализируется на продаже различных товаров через Интернет. Мы предлагаем широкий ассортимент продукции, включая товары для дома, электронику, одежду и многое другое. Мы стремимся предоставить нашим клиентам качественные товары по доступным ценам.</p>
        <h2>Логотип</h2>
        <p>*** Логотип компании будет здесь ***</p>
        <h2>История по годам</h2>
        <p>*** История компании по годам будет здесь ***</p>
        <h2>Реквизиты</h2>
        <p>*** Реквизиты компании будут здесь ***</p>
    </div>
</div>
{% endblock %}
