<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>

<div class="navbar">
    <div class="left-items">
        <a href="#" id="latest" class="tab">Главная</a>
        <a href="#" id="about" class="tab active">О нас</a>
        <a href="#" id="news" class="tab">Новости</a>
        <a href="#" id="faq" class="tab">FAQ</a>
        <a href="#" id="contacts" class="tab">Контакты</a>
        <a href="#" id="products" class="tab">Товары</a>
        <a href="#" id="gif" class="tab">GIF</a>
        <a href="#" id="rand" class="tab">Коты</a>
        {% if user.is_staff %}
            <a href="#" id="sales" class="tab">Продажи</a>
        {% endif %}

        {% if user.is_authenticated and not user.is_staff %}
            <a href="#" id="cart" class="tab">Корзина</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="sp">
        <span>Привет, {{ user.username }}!</span>
        <a href="/logout">Выйти</a>
    </div>
    {% else %}
        <a href="/login">Войти</a>
    {% endif %}
</div>

<div class="container">
    <h1>О компании</h1>
    <div class="about-company">
        <h2>Информация о компании</h2>
        <p>Наша компания специализируется на продаже различных товаров через Интернет. Мы предлагаем широкий ассортимент продукции, включая товары для дома, электронику, одежду и многое другое. Мы стремимся предоставить нашим клиентам качественные товары по доступным ценам.</p>
        <h2>Логотип</h2>
        <p>*** Логотип компании будет здесь ***</p>
        <h2>История по годам</h2>
        <p>*** История компании по годам будет здесь ***</p>
        <h2>Реквизиты</h2>
        <p>*** Реквизиты компании будут здесь ***</p>
    </div>
</div>

    <script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>
