<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body class="bdy">

    <div class="scene">
        <div class="cloud"></div>
        <div class="basket">
          <div class="prd"></div>
          <div class="prd"></div>
          <div class="prd"></div>
        </div>
        <div class="lawn"></div>
        <div class="house"></div>
        <div class="company-name">Название компании</div>
    </div>
</body>
</html>
