{% extends "base.html" %}

{% block title %}Список новостей{% endblock %}
{% block content %}
    <div class="container">
        <h1>Новости</h1>
        <div>
            {% for article in articles %}
                <div class="article-summary">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.summary }}</p>
                    <a href="{% url 'article_detail' article.pk %}" class="read-more">Читать далее</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}