{% extends "base.html" %}
{% block title %}Корзина{% endblock %}

{% block content %}
<h1>Ваша корзина</h1>

<ul>
    {% for cp in cart_products %}
    <li>
        {{ cp.product.name }} - 
        <form method="post" action="{% url 'cart_view' %}" style="display: inline;">
            {% csrf_token %}
            <input type="number" name="quantity" value="{{ cp.quantity }}" min="1">
            <input type="hidden" name="cart_product_id" value="{{ cp.id }}">
            <button type="submit">Обновить</button>
        </form>
        x {{ cp.product.price|floatformat:2 }} руб. = 
        {{ cp.quantity|floatformat:2 }} x {{ cp.product.price|floatformat:2 }} руб.
        <a href="{% url 'buy_product' cp.product.id %}" class="btn btn-primary">Оплатить</a>
        
        <!-- Кнопка для удаления элемента из корзины -->
        <form method="post" action="{% url 'cart_view' %}" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="cart_product_id" value="{{ cp.id }}">
            <input type="hidden" name="quantity" value="0">  <!-- Установка количества в 0 для удаления -->
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </li>
    {% empty %}
    <li>Корзина пуста</li>
    {% endfor %}
</ul>

<hr>

<h3>Общая стоимость: {{ total_price|floatformat:2 }} руб.</h3>
{% endblock %}
