{% extends "base.html" %}
{% block title %}Изменение товара{% endblock %}
{% block content %}
<div class="container">
    <div class="form-container">
        <h1>Редактировать продукт</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
        <form method="post" action="{% url 'delete_product' product.pk %}">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}