<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ List</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body class="body">
    <div class="navbar">
        <div class="left-items">
            <a href="#" id="latest" class="tab">Главная</a>
            <a href="#" id="about" class="tab">О нас</a>
            <a href="#" id="news" class="tab">Новости</a>
            <a href="#" id="faq" class="tab active">FAQ</a>
            <a href="#" id="contacts" class="tab">Контакты</a>
            <a href="#" id="products" class="tab">Товары</a>
            <a href="#" id="gif" class="tab">GIF</a>
            <a href="#" id="rand" class="tab">Коты</a>
            {% if user.is_staff %}
                <a href="#" id="sales" class="tab">Продажи</a>
            {% endif %}

            {% if user.is_authenticated and not user.is_staff %}
                <a href="#" id="cart" class="tab">Корзина</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="sp">
            <span>Привет, {{ user.username }}!</span>
            <a href="/logout">Выйти</a>
        </div>
        {% else %}
            <a href="/login">Войти</a>
        {% endif %}
    </div>

    <div class="container">
        <h1>Словарь терминов и понятий</h1>
        <h2>Список часто задаваемых вопросов и ответов на них</h2>
        
        <div class="article-summary">
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>Вопрос</th>
                        <th>Ответ</th>
                        <th>Дата добавления</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faq in faqs %}
                    <tr>
                        <td>{{ faq.question }}</td>
                        <td>{{ faq.answer }}</td>
                        <td>{{ faq.date_added }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>
