{% extends "base.html" %}
{% block title %}Отзывы{% endblock %}
{% block content %}
    <div class="container">
        <h1>Отзывы о товаре "{{ product.name }}"</h1>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review">
                    <h2>{{ review.author }}</h2>
                    <p>{{ review.text }}</p>
                    <p>Rating: {{ review.rating }}</p>
                </div>
            {% empty %}
                <p>Пока нет отзывов о данном товаре.</p>
            {% endfor %}
        </div>

        {% if user.is_authenticated and not user.is_staff %}
            <div class="add-review">
                <h2>Оставить отзыв</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Оставить отзыв</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}