{% extends "base.html" %}
{% block title %}Продажи{% endblock %}
{% block content %}
    <div class="container">
        <h1>Список покупок</h1>
        <table class="table">
            <thead>
                <tr>
                    <th id="customer-header">Покупатель</th>
                    <th id="sale-date-header">Дата продажи</th>
                    <th id="delivery-date-header">Дата доставки</th>
                    <th id="products-header">Товары</th>
                    <th id="total-price-header">Итоговая цена</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td headers="customer-header">{{ sale.customer.first_name }} {{ sale.customer.last_name }}</td>
                    <td headers="sale-date-header">{{ sale.sale_date|date:"Y-m-d" }}</td>
                    <td headers="delivery-date-header">{{ sale.delivery_date|date:"Y-m-d" }}</td>
                    <td headers="products-header">
                        <ul>
                            {% for sale_product in sale.saleproduct_set.all %}
                            <li>{{ sale_product.product.name }} - {{ sale_product.quantity }} {{ sale_product.product.get_unit_display }} ({{ sale_product.price }})</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td headers="total-price-header">{{ sale.total_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

        <h1>График статистики продаж</h1>
        <img src="/media/sale_statistics.png" alt="График">
    </div>
{% endblock %}